---
---

@import "{{ site.theme }}";

@import url("fonts/Morion/stylesheet.css");

// body {
//   font-family: 'Morion',Georgia,serif;
// }

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.nav-header {
  background-color: #fff;
}

.scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.logo {
  flex: 0 0 auto;
  align-self: center;
  padding: 12px 12px 12px 0;

}

.nav-item {
  flex: 0 0 auto;
  align-self: center;
  padding: 12px;

}

.logo,
.nav-item {
  font-size: 16px;
}

.sticky-top {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1020;
}



// styles for table of contents
.post-body {
  display: flex;
  flex-direction: column-reverse;
}

.gh-sidebar {
  display: none;
}

.post-body-content > :first-child {
  margin-top: 0 !important;
}

@media (min-width: 600px) {
  .post-body {
    flex-direction: row;
  }

  .gh-sidebar {
    align-self: flex-start;
    top: 50px; 
    position: sticky;
    margin-left: 32px;
    display: block;
  }
}
