---
---

@import "{{ site.theme }}";

@import url("fonts/Morion/stylesheet.css");

body {
  font-family: 'Morion',Georgia,serif;
}

.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.nav-header {
  .logo {
    width: 25%;
  }
  nav {
    width: 75%;
  }
}

.logo {
  text-align: center;
  font-weight: 700;
  padding: 12px 24px 13px;
}

.nav-item {
  padding: 12px 16px 13px;
}

.logo,
.nav-item {
  display: inline-block;
  vertical-align: middle;
}
