---
---

@import "{{ site.theme }}";

@import url("fonts/Morion/stylesheet.css");

// body {
//   font-family: 'Morion',Georgia,serif;
// }

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.nav-header {
  background-color: #fff;
}

.scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}


.logo {
  
	display: flex;
// 	flex: 0 0 auto;
//   align-self: center;
	align-items: center;
  padding: 12px 12px 12px 0;
	text-decoration: none;

}

.logo:active, .logo:visited {
  text-decoration: none;
}

.logo > div {
	width: 30px;
	height: 30px;
}


.logo > span {
	font-weight: 600;
	font-size: 25px;
	color: #000;
	line-height: 30px;
}

.nav-item {
  flex: 0 0 auto;
  align-self: center;
  padding: 12px;

}

.logo,
.nav-item {
  font-size: 16px;
}

.sticky-top {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1020;
}



// styles for table of contents
.post-body {
  display: flex;
  flex-direction: column-reverse;
}

.gh-sidebar {
  display: none;
}

.post-body-content > :first-child {
  margin-top: 0 !important;
}


.hello{
	font-weight: 600;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -2px;
	padding-right: 0px;
}

@media (min-width: 600px) {
  .post-body {
    flex-direction: row;
  }

  .gh-sidebar {
    align-self: flex-start;
    top: 50px; 
    position: sticky;
    margin-left: 32px;
    display: block;
  }
	
	.hello {
		font-weight: 600;
		font-size: 150px;
		line-height: 130px;
		letter-spacing: -5px;
		padding-right: 0px;
	}
}



.post-link {
	outline: none;
  text-decoration: none !important;
}

.post-link:link {
  color: #000;
}

// styles for custom list
.post-list {
	counter-reset: step-counter;
	list-style: none;
	padding-left: 0 !important;
}

.post-list .card-title {
  display: flex;
}

.post-list .card-title::before {
  counter-increment: step-counter;
  content: counter(step-counter, decimal-leading-zero);
	margin-right: 8px;
}

.post-list p {
	margin-bottom: 0 !important;
}

// dotted hr, typically to wrap up the article
hr {
  margin: 12px 0;
  border: 0;
  text-align: center;
  
  &:before {
    content: "\2022  \2022  \2022";
    font-size: 20px;
    color: #888;
  }
}







