<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://abs-0.twimg.com/emoji/v2/svg/1f9e0.svg">
    
    <script type="text/javascript"> (function(){ var s =
    document.createElement('script'); s.src =
    document.location.protocol+'//static.ao.gl/js/analytics-min.js'; s.type =
    'text/javascript'; s.async = true; var t =
    document.getElementsByTagName('script')[0]; t.parentNode.insertBefore(s, t); })();
    </script>

    
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body"> 
      <a href="/">
        Stue's Brain 
        <img class="notion-emoji" alt="🧠" aria-label="🧠" style="width: 20px; height: 20px; url(https://abs-0.twimg.com/emoji/v2/svg/1f9e0.svg);" src="https://abs-0.twimg.com/emoji/v2/svg/1f9e0.svg"></a> · 
      <a href="/wiki/stuartelimu">README</a> · <a href="/books/reading-list">Books</a> · <a href="https://www.youtube.com/channel/UCoB_n3kBg8wPtt5eXMYY5rQ">YouTube</a>
      
      {% if site.title and site.title == page.title %}
      <h1>{{ site.description }}</h1>
      {% endif %}
      
      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
      
      <!-- revue -->
<!-- 
<div id="revue-embed">
  <form action="https://www.getrevue.co/profile/stuartelimu/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
  <div class="revue-form-group">
    <label for="member_email">Email address</label>
    <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
  </div>
  <div class="revue-form-group">
    <label for="member_first_name">First name <span class="optional">(Optional)</span></label>
    <input class="revue-form-field" placeholder="First name... (Optional)" type="text" name="member[first_name]" id="member_first_name">
  </div>
  <div class="revue-form-group">
    <label for="member_last_name">Last name <span class="optional">(Optional)</span></label>
    <input class="revue-form-field" placeholder="Last name... (Optional)" type="text" name="member[last_name]" id="member_last_name">
  </div>
  <div class="revue-form-actions">
    <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
  </div>
  <div class="revue-form-footer">By subscribing, you agree with Revue’s <a target="_blank" href="https://www.getrevue.co/terms">Terms of Service</a> and <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.</div>
  </form>
</div>
-->

      
      <!-- convertkit -->
      <script async data-uid="3df2bee2cc" src="https://wondrous-speaker-8686.ck.page/3df2bee2cc/index.js"></script>
      
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        
        <a href="https://twitter.com/stuartelimu">@stuartelimu</a>
        
        
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
    
    
  </body>
</html>
